<!doctype html>
<html>
    <head>
        <link href="css.css" rel="stylesheet" type="text/css" />
        <title>Music</title>
    </head>
    
    <body>
        <div class="content">
            <h1>Musique</h1>
        </div>
        <div class="aside">
            <img src="http://images-eu.amazon.com/images/P/B000GIW9H8.03.MZZZZZZZ.jpg" width="180" />
        </div>
        <div class="content">
            <h2>Ashes Against The Grain</h2>
            <ul>
                <li><a href="/aaron">AaRON</a></li>
                <li>Adept</li>
                <li>After Forever</li>
                <li>Agalloch</li>
                <li>The Alan Parson Project</li>
            </ul>
        </div>
    </body>
</html>